.countryCard{
    width: 21%;
    border-top: 3px solid #666666;
    background-color: white;
    padding: 10px;
    margin: 10px;
    transition: 0.6s;
    justify-content: flex-end;
    box-sizing: border-box;
    flex: 1 0 250px;
    max-width: 300px;
    margin: 1rem .25em;
}

.countryCard:hover{
    background-color: #eaeaea;
}

.countryCard a{
    text-decoration: none !important;

}

.countryCardFlag {
    height: 140px;
    max-width: 99%;
    text-align: center;
}

.countryCardTitle{
    text-decoration: none !important;
    font-size: 29px;
    font-weight: 700;
    margin-top: -5px;
    padding: 10px 0px;
    border-bottom: 1px solid #666666;
    text-align: center;
    color: #222222;
}

.countryCardSubTitle{
    text-decoration: none !important;
    font-size: 24px;
    font-weight: 400;
    margin-top: -15px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #888888;
    text-align: center;
    color: #888888;

}


@media only screen and (min-width: 771px) and (max-width: 1050px) {
    .countryCard{
        width: 27%;
    }
}


@media only screen and (max-width: 770px) {
    .countryCard{
        width: 43% !important;
    }

}